html, body
{ 
    background-color:white; 
    width: 100%;
    height: 100%;
}

body 
{ 
    margin: 0;
    padding: 0;
}
div  {
    padding: 10px;
    border: 1px solid black;
}
input {
    margin:0;
}
.flex-container {
    display: flex;
    flex-direction: row;
    ccccccccccccccc
    border-color: white;
}

.flex-item {
}

